body{
    background-color: white !important;
}

h1{
    text-decoration: bold;
    color: #272932;
    padding-top: 10px;
}

.custom-select{
    width: 20%;
}

h2{
    a{
    color: #272932;
    }
    :hover{
        color: #272932 !important;
    }
}

.navbar{
    display: block;
    background-color: black;
    a:hover{
        text-decoration: underline;
        color: white;
    }
    a:link{
        color: white;
    }
}

.navbar-nav{
    width: 100%;
    display: block;
}

.navbar-toggler{
    width: 100%;
    text-align: right;
}

.alert-success{
    text-align: center;
    font-size: large;
}

span .badge{
    font-size: large;
}

.nav-link{
    color: white;
    text-align: center;
    font-size: large;
}

footer{
    
    padding: 10px;
    background-color: white;
    color: black;
    border-radius: 5px;
    
}

.card{
    background-color:  white !important;
    margin: 10px;
}

.card-header{
    background-color: black;
    color: white;
}

form{
    padding: 20px;
}

.container-content{
    margin: 50px 100px 100px 100px;
    margin-bottom: 100px;
    border-radius: 5px;
    
}

.checkbox{
    bottom: 10px;
}

input[type=checkbox], input[type=radio] {
    margin: 0 !important;
}



.form-check-input {
    position: relative;
}

@media only screen and (max-width: 991px) {
    .navbar-nav {
      width: 100%
    }
    .nav-item{
        padding-right: 5px;
    }
  }